@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Tiro+Gurmukhi&display=swap');
@import url("https://use.typekit.net/flt5wdv.css");

@font-face {
  font-family: "MinervaModern";

  src:
    url(./MyanmarMN.ttc) format("opentype");
  font-display: swap;
}

body{
  font-family: 'MyanMar MN', sans-serif;
background-color: #CECBCB;
font-weight: 400;
}

h1{
  text-align: center;
  font-size: 70px;
  font-family: 'MyanMar MN', sans-serif;
  font-weight: 400;
}

h2{
  font-family: 'MyanMar MN', sans-serif;
  font-weight: 400;
}

p{
  text-align: center;
}
.pl32{
  padding-left: 32px;
}

.red{
  color: red;
}

.green{
  color: green;
}

.flex{
  display: flex;
}

.border{
  border: 1px solid black;
}

.w300{
  width: 300px;
}

.flex-between{
  justify-content: space-between;
}

.container{
  width: 100%;
  max-width: 920px;
  margin: auto;
}
